{% extends 'base.html.twig' %}

{% block title %}pharmacien{% endblock %}

{% block body %}
<style>
 {# body {
     background-color:red;
 } #}
    {# .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } #}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
 
</style>
  {# <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Projet de fin d'etude</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=#"">Menu principal <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liste des cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liste des professeurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liste des departements</a>
                </li>
            </ul>

        </div>
    </nav> #}

    {# <nav class="navbar navbar-expand-lg navbar-dark bg-defult">
  
 
     <a class="navbar-brand" href="#">Projet de fin d'etude</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
   <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=#"">Menu principal <span class="sr-only">(current)</span></a>
                </li>
                <li >
                    <a  href="#">Liste des cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liste des professeurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liste des departements</a>
                </li>
            </ul>
     </div>
  
</nav> #}
<div class="example-wrapper">
<div class="container-fluid">
<div class="d-flex">
<div class="col-sm-3">
    <h1>pharmacien</h1>
    </div>
<div class="col-sm-9 "> 
        <input class="form-control float-end" id="search_pharmacien" type="search" placeholder="Search" aria-label="Search" style="width:150px;">
      
      
      </div>
    </div>
</div>
   {# <ul>
    {%for sell in sells%}
    <li>{{sell.id}}
    </li>
  
    <li>{{sell.date_transaction|date('d-m-Y')}}
    </li>
     <li>{{sell.total_amount}}
    </li>
    {%endfor%}
    </ul> #}
<div class="table-responsive"> 
<table class="table table-bordered">
<thead>
<tr>

<th>name</th>
<th>first_name</th>
<th>contact</th>
<th>address</th>

</tr>
</thead>
 {%for pharmaciens in pharmacien %}
 {# {{dd(sell)}} #}
<tbody>
<tr>
<td>{{pharmaciens.name}}</td>
<td>{{pharmaciens.FirstName }}</td>
<td>{{pharmaciens.contact }}</td>
<td>{{pharmaciens.address }}</td>

<td>
<div class="btn-group" role="group">
<button type="button" id="btnGroupDrop1"  class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">Action <span class="caret"></span></button>
<div class="dropdown-menu" >
<button type="button" href="" data-bs-toggle="modal" data-href="{{path('app_pharmacine_show', {id: pharmacien.id})}}"  data-bs-target="#create_modal"  class="dropdown-item my_modal" >view</button>
<a href="{{path('app_pharmacien_edit', {id: pharmacien.id})}}"  class="dropdown-item" >edit</a><i class="fa fa-address-book"></i>

<a href="{{path('app_pharmacien_delete', {id: pharmacien.id})}}"  class="dropdown-item">delete</a>
</div>
</td>

</tbody>

</tr>
 {%endfor%}
</table>
</div>
</div>
        <div class="modal fade modal" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
         
       </div>  
       </div>
{% endblock %}
