{% extends 'base.html.twig' %}

{% block title %}All purchasses{% endblock %}

{% block body %}
<style>
 {# body {
     background-color:red;
 } #}
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
 
</style>


<div class="example-wrapper">

<div class="d-flex">
<div class="col-sm-6">
    <h1>All purchasses</h1>
    </div>
<div class="col-sm-6 "> 
        
      <a href="{{path('app_purchasse_create')}}"  class="btn btn-primary float-end"><i class="fa fa-plus" aria-hidden="true"></i>Add</a>
      
      </div>
    </div>
</div>
 <div class="row">
<div class="col-md-12">
<input class="form-control float-end" id='search_purchasse' value="{{term}}" type="search" placeholder="Search" aria-label="Search" style="width:150px;">

</div>
</div>
   
<div class="table"> 
<table class="table table-bordered">
<thead>
<tr>
<th  class="text-center">Facture N°</th>
<th class="text-center" style="width:100px;">Date</th>
<th class="text-center">Fournisseur</th>
<th class="text-center">Medicament</th>
<th class="text-center">Price</th>
<th class="text-center">payé</th>
<th class="text-center">Status payment</th>
<th class="text-center">Mode payment</th>
<th class="text-center">Action</th>

</tr>
</thead>
{% if purchasses|length > 0 %}
 {%for purchasse in purchasses %}
 {# {{dd(purchasse)}} #}
<tbody>
<tr>
<td class="text-center">{{purchasse.numFacture ?? purchasse.id}}</td>
<td class="text-center">{{purchasse.dateTransaction |date('d-m-Y')  }}</td>
<td class="text-center">{{purchasse.idContact.name }}</td>


<td class="text-center">
 {%for med in purchasse.transactionLines %}
 {# {%for medicament in med.idMedicament %}
{{medicament.name ?? "pas de medicament"  }}
<br>

{%endfor%} #}
{{med.idMedicament.name ?? "pas de medicament"  }}
<br>
{%endfor%}
</td>

<td class="text-center">{{purchasse.priceTotal }}Ar</td>
<td class="text-center">{{purchasse.totalPaid }}Ar</td>
<td class="text-center">{{purchasse.statusPayment }}</td>
<td class="text-center">{{purchasse.modePayment }}</td>
<td>
<div class="btn-group" role="group">
<button type="button" id="btnGroupDrop1"  class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">Action <span class="caret"></span></button>
<div class="dropdown-menu" >
<button type="button" href="" data-bs-toggle="modal" data-href="{{path('app_purchasse_show', {id: purchasse.id})}}"  data-bs-target="#create_modal"  class="dropdown-item my_modal" ><i class="fas fa-eye" aria-hidden="true"></i> view</button>
<a href="{{path('app_purchasse_edit', {id: purchasse.id})}}"  class="dropdown-item" ><i class="fas fa-edit" aria-hidden="true"></i>edit</a>

<a href="{{path('app_purchasse_delete', {id: purchasse.id})}}"  class="dropdown-item"><i class="fas fa-trash" aria-hidden="true"></i>delete</a>
</div>
</div>
</td>
</tr>
</tbody>


 {%endfor%}

 {% else %}
<tbody>
<tr>
<td colspan="9">
 <H4 class="text-center">vide</H4>
 </td>
 </tr>
 </tbody>
 {% endif %}
</table>
</div>
 

           <div class="modal fade modal" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
         
       </div>  
       </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
       
</script>
{% endblock %}
